body {
    font : 11px sans-serif;
}

.axis path,
.axis line {
    fill            : none;
    stroke          : #000;
    shape-rendering : crispEdges;
}

.dot {
    stroke : none;
}

.tooltip {
    position       : absolute;
    pointer-events : none;
    border         : 1px solid #aaa;
    background     : rgba(255, 255, 255, 0.95);
    padding        : 4px 6px;
}

.slider .handle {
    fill           : #fff;
    stroke         : #000;
    stroke-opacity : .5;
    stroke-width   : 1.25px;
    cursor         : crosshair;
}

table {
    position : absolute;
    display  : block;
    top      : 600px;
    bottom   : 30px;
    left     : 60px;
    width    : 650px;
}

thead {
    position : absolute;
    top      : 0;
    left     : 0;
    right    : 0;
    height   : 17px;
}

th, td {
    text-align    : left;
    white-space   : nowrap;
    text-overflow : ellipsis;
    border-collapse : collapse;
}

tbody {
    position : absolute;
    top      : 17px;
    bottom   : 0;
    left     : 0;
    right    : 0;
    overflow : auto;
}

table i {
    opacity: 0.5;
}
